# build output
/public/apos-minified
*/apos-build
/apos-build
/public/apos-frontend
/modules/asset/ui/public/site.js

# dependencies
node_modules/

# logs
npm-debug.log

# locales
/dashboard/locales
/locales

# content
/public/uploads
# Don't commit masters generated on the fly at startup, these import all the rest
/public/css/master-*.less
*/public/apos-frontend
/dashboard/modules/asset/ui/public
/sites/modules/theme-*/ui/public
*/public/modules
*/public/uploads
*/public/svgs/*.svg
*/public/apos-minified
# This folder is created on the fly and contains symlinks updated at startup (we'll come up with a Windows solution that actually copies things)
/public/modules
# We don't commit CSS, only LESS
*/public/css/*.css
*/public/css/*.less
# Don't commit CSS sourcemap files
*/public/css/*.map
/public/js/_site-compiled.js
/public/sitemap.xml
dashboard/modules/assets/public/css/site.css
dashboard/modules/assets/public/js/site.js
sites/modules/theme-*/public/js/site.js
sites/modules/theme-*/public/css/site.css

# local env data
/data
/data/temp/uploadfs
/dashboard/data
/sites/data

# macOS-specific files
.DS_Store

# vim swapfiles
*.swp

# Deployed, but not committed
/release-id
